@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
h1 {
    
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: 600;
}

p {
    font-family: Montserrat;
    text-align: center;
    font-weight: 400;
}