.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}